.form-add-votation {
	width: 50em !important;
	max-width: 95%;
	animation: slideIn 0.75s;
}

.date-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.preview {
	width: 11em;
}

.date-picker {
	border: none;
	box-shadow: 0 5px 5px 0px rgba(85, 85, 85, 0.794);
	cursor: pointer;
	border-radius: 4px;
}

.descrizione {
	position: relative;
}

.counter {
	position: absolute;
	bottom: 0em;
	right: 0.3em;
	font-size: 14px;
}

.carta {
	position: relative;
}

.carta {
	box-shadow: 0 3px 3px 0px rgba(143, 143, 143, 0.87);
}

.inp {
	box-shadow: 0 5px 5px 0px rgba(175, 175, 175, 0.472);
}

.close-image {
	position: absolute;
	width: 22px;
	top: 1em;
	right: 1em;
	cursor: pointer;
}

.cont {
	position: relative;
}

.back {
	position: absolute;
	top: -2em;
	left: 1em;
	color: #2248f3;
}

.back:hover {
	transform: scale(1.1);
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	cursor: pointer;
	user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

.float-btn {
	display: none;
}

@media (max-width: 1100px) {
	.back {
		display: none;
	}
	.float-btn {
		display: block;
		position: fixed;
		border: none;
		padding: 1em;
		border-radius: 50%;
		background-color: rgb(209, 169, 169);
		bottom: 1em;
		left: 0.5em;
		z-index: 10;
	}
	.float-btn:hover {
		transform: scale(1.1);
		-webkit-transition: all 500ms ease;
		-moz-transition: all 500ms ease;
		-ms-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
	}
}
