.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	height: 3.5em;
	background-color: rgba(50, 110, 206, 0.904);
	box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.37);
}

.title-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.logo {
	width: 3em;
}

.log-out-container {
	position: absolute;
	top: 0.5em;
	right: 1em;
}
