.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	height: 3.5em;
	background-color: rgb(50, 110, 206);
	box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.37);
}

.title-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.logo {
	width: 3em;
}

.log-out-container {
	position: absolute;
	top: 0.5em;
	right: 1em;
}

.fab-logout {
	display: none !important;
}

@media (max-width: 768px) {
	.log-out-container {
		display: none;
	}

	.fab-logout {
		background-color: #ffc106 !important;
		display: block !important;
		position: fixed !important;
		right: 2em !important;
		bottom: 1em !important;
		z-index: 1 !important;
	}
}
