@keyframes transitionIn {
	from {
		opacity: 0;
		transform: rotateX(-10deg);
	}
	to {
		opacity: 1;
		transform: rotateX(0);
	}
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-800%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes slideInFromRight {
	0% {
		transform: translateX(800%);
	}
	100% {
		transform: translateX(0);
	}
}

.from-right {
	animation: slideInFromRight 0.75s;
}

.from-left {
	animation: slideInFromLeft 0.75s;
}

.generic-content {
	animation: transitionIn 0.75s;
	min-height: calc(100vh - 4.5em);
}

.card-votations {
	height: 95%;
	box-shadow: 3px 5px 4px 2px rgba(0, 0, 0, 0.08);
}

.card-votations:hover {
	transform: scale(1.03);
	transition: all 0.3s;
	box-shadow: 3px 5px 4px 2px rgba(0, 0, 0, 0.26);
	cursor: pointer;
	background-color: rgba(208, 240, 255, 0.801);
}
