.votation-content {
	margin-top: 6em;
}

.card-option {
	height: 11.5em;
	max-height: 75%;
	margin-bottom: 5.5em;
	box-shadow: 3px 5px 4px 2px rgba(0, 0, 0, 0.144);
	border-radius: 10px !important;
}

.hover-behaviour:hover,
.selected {
	transform: scale(1.05);
	transition: all 0.5s;
	box-shadow: 3px 5px 4px 2px rgba(0, 0, 0, 0.26);
	cursor: pointer;
	background-color: rgba(251, 189, 243, 0.801);
	-webkit-transition: background-color 500ms linear;
	-ms-transition: background-color 500ms linear;
	transition: background-color 500ms linear;
}

.selected {
	background-color: rgba(251, 189, 243, 0.801) !important;
}

.not-selected {
	background-color: rgba(107, 107, 107, 0.931) !important;
	cursor: default !important;
}

.logo-img {
	width: 10em;
	margin-top: -80px;
}

.title-card {
	font-size: 24px;
}

.flex-row-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.flex-column-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.disable-select {
	user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
}

.regole {
	animation: slideInFromTop 0.75s;
}

.end-votation {
	animation: slideInFromBottom 0.75s;
}

.rules {
	font-size: 18px;
	font-weight: bold;
}

.rules:hover {
	cursor: pointer;
}

.dropdown-img {
	width: 0.9em;
	-webkit-animation: action 0.7s infinite alternate;
	animation: action 0.7s infinite alternate;
}
