@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;800&display=swap");

* {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* INIZIO ANIMAZIONI */
@keyframes transitionIn {
	from {
		opacity: 0;
		transform: rotateX(-10deg);
	}
	to {
		opacity: 1;
		transform: rotateX(0);
	}
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-500%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes slideInFromRight {
	0% {
		transform: translateX(500%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
}

@keyframes slideIn {
	0% {
		transform: translateX(-50%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slideInFromBottom {
	0% {
		transform: translateY(150%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes slideInFromTop {
	0% {
		transform: translateY(-150%);
	}
	100% {
		transform: translateY(0);
	}
}

@-webkit-keyframes action {
	0% {
		transform: translateY(-3px);
	}
	100% {
		transform: translateY(3px);
	}
}
@keyframes action {
	0% {
		transform: translateY(-3px);
	}
	100% {
		transform: translateY(3px);
	}
}

@keyframes deleteAnimation {
	0% {
		opacity: 1;
	}

	1% {
		opacity: 1;
	}

	100% {
		display: none;
		opacity: 0;
	}
}
/* FINE ANIMAZIONI */
.App {
	animation: transitionIn 0.75s;
	font-family: "Montserrat", sans-serif;
	overflow-x: hidden;
	background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
		url("./sfondoLogin.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	height: 100vh;
}
